{% extends 'base.html' %}
{% block content %}
<h1>Create Account</h1>
<form method="post" novalidate class="card animate-pop">
  {{ form.hidden_tag() }}
  <div class="form-group">
    {{ form.username.label }}
    {{ form.username(class_='input') }}
    {% for error in form.username.errors %}<div class="error">{{ error }}</div>{% endfor %}
  </div>
  <div class="form-group">
    {{ form.email.label }}
    {{ form.email(class_='input') }}
    {% for error in form.email.errors %}<div class="error">{{ error }}</div>{% endfor %}
  </div>
  <div class="form-group">
    {{ form.password.label }}
    {{ form.password(class_='input') }}
    {% for error in form.password.errors %}<div class="error">{{ error }}</div>{% endfor %}
  </div>
  <div class="form-group">
    {{ form.confirm_password.label }}
    {{ form.confirm_password(class_='input') }}
    {% for error in form.confirm_password.errors %}<div class="error">{{ error }}</div>{% endfor %}
  </div>
  <div class="form-actions">
    {{ form.submit(class_='btn') }}
  </div>
</form>
{% endblock %}


